/* Navbar Styles */
nav {
    position: relative;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background-color: var(--nav-color);
    background-blend-mode: darken;
    z-index: 5;
}

body.dark nav {
    border: 1px solid #393838;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #00242b;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 100px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.logo img {
    left: 25px;
    margin-bottom: 5px;
    margin-left: -10px;
    height: 60px;
    position: relative;
    z-index: 2;
}

.logo a {
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    perspective: 500px;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    margin-left: 100px;
    align-items: center;
}

.nav-bar .nav-links li {
    display: inline-block;
    line-height: 40px;
    padding: 15px;
    margin: 0 5px;
}

.nav-links li a {
    position: relative;
    color: var(--text-color);
    font-size: 19px;
    font-weight: 400;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    overflow: hidden;
}

.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox {
    position: relative;
}

.searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    /* width: 300px; */
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active~.search-field {
    /* bottom: -74px; */
    opacity: 1;
    pointer-events: auto;
}

.search-field::before {
    content: "";
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input {
    color: var(--text-color);
}

.search-field i {
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i {
    color: var(--text-color);
}

/* Logo and Animations */
.logo-with-line a {
    position: relative;
    display: inline-block;
}

.logo-with-line a::before {
    content: "";
    position: absolute;
    left: 25px;
    bottom: 45px;
    width: 90%;
    height: 2px;
    background: var(--main);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

.logo-with-line a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.logo-with-lin a::before {
    content: "";
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 90%;
    height: 2px;
    background: var(--main);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

.logo-with-lin a:hover::before {
    transform: scaleX(1);
    transform-origin: center;
}

/* Responsive Navbar */
@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 220px;
        border-right: 1px solid var(--text-color);
        border-top: 1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color);
        left: -100%;
        top: 0;
        background-color: #00242b;
        z-index: 100;
        transition: all 0.4s ease;
    }

    #menu-toggle:checked~.menu {
        left: 0;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparent;
        display: none;
        z-index: 50;
    }

    #menu-toggle:checked~.overlay {
        display: block;
    }

    .open-btn {
        cursor: pointer;
        font-size: 20px;
        z-index: 200;
        position: relative;
    }

    nav.active .menu {
        left: -0%;
        padding-right: 100px;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        padding-left: 25px;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose {
        color: var(--text-color);
        font-size: 24px;
        padding-left: 40px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
}