/* Projects Styles */
.project {
    border-radius: 100px;
    overflow-x: hidden;
    width: 100%;
}

.project-section {
    border-radius: 100px;
    overflow-x: hidden;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: var(--body-text);
}

.project-section h1 {
    border-radius: 100px;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.project-section>p {
    font-size: 1.1rem;
    max-width: 800px;
    text-align: center;
    margin-bottom: 3rem;
}

.project-item {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    gap: 2rem;
    padding: 10px;
    border-radius: 20px;
}

.project-item.reverse {
    flex-direction: row-reverse;
}

.project-details {
    flex: 1;
    max-width: 900px;
}

.project-details h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.project-details p {
    font-size: 1rem;
    line-height: 1.6;
}

.project-images {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.project-images-Web {
    flex: 1;
    display: flex;
    text-align: center;
    width: 100%;
    max-width: 650px;
    height: 450px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.project-images img {
    width: 100%;
    height: 100%;
    border: 2px solid #00242b;
    object-fit: contain;
}

.project-images-Web img {
    width: 100%;
    height: 90%;
    margin-bottom: 30px;
    border-radius: 100px;
    border: 2px solid #00242b;
    object-fit: contain;
}

.image-container {
    width: 221.5px;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}

.image-container-Web {
    height: 310px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}

.image-container.flipping {
    animation: flip 0.5s ease-in-out;
}

.image-container.flipping.next {
    animation-name: flipNext;
}

.image-container.flipping.prev {
    animation-name: flipPrev;
}

.image-container .next-image {
    transform: rotateY(180deg);
}

.slider-button {
    position: absolute;
    border: 1px solid #1effb8;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

.slider-button-Web {
    position: absolute;
    top: 82%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

.slider-button-Web.prevs {
    left: 200px;
    border: 1px solid #18ca92;
}

.slider-button-Web.next {
    right: 200px;
    border: 1px solid #18ca92;
}

.slider-button.prev {
    left: 65px;
}

.slider-button.next {
    right: 70px;
}

@media (min-width: 1024px) {
    .project-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;
        gap: 2rem;
        padding: 10px;
        border-radius: 20px;
    }
}

@media (max-width: 1024px) {
    .project-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;
        gap: 2rem;
        padding: 10px;
        border-radius: 20px;
    }

    .project-images {
        position: relative;
        border-radius: 90px;
        padding: 10px 50px;
    }

    .slider-button.prev {
        left: 10px;
    }

    .slider-button.next {
        right: 10px;
    }
}

@media (max-width: 480px) {
    .project-images {
        width: 100%;
        max-width: 300px;
        height: 250px;
    }

    .image-container,
    .image-container-Web {
        width: 100%;
        height: 100%;
    }

    .slider-button-Web.prevs {
        left: 100px;
        top: 90%;
        border: 1px solid #18ca92;
    }

    .slider-button-Web.next {
        top: 90%;
        right: 100px;
        border: 1px solid #18ca92;
    }
}

@media (max-width: 768px) {

    .project-item,
    .project-item.reverse {
        flex-direction: column;
        width: 100%;
    }

    .project-images {
        width: 100%;
        max-width: 350px;
        height: 300px;
    }
}