/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: color 0.4s ease, background-color 0.4s ease;
}

html {
  scroll-padding-top: 90px;
  /* equal to navbar height */
}

:root {
  --mail: #18312b;
  --mail-color: #b7e4db;
  --main: #18ca92;
  --main-color: #07bd83;
  --body-color: #ffffff;
  --nav-color: #4b514e;
  --side-nav: #4b514e98;
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
  --body-text: #232020;
  --box-shadow: 4px 7px 15px 2px rgb(6, 18, 12);
  --shadow-hover: 9px 7px 13px 5px rgb(6, 18, 12);
}

body.dark {
  --mail: #b3e4dc;
  --mail-color: #201e1e;
  --main: #18fca9;
  --main-color: #07bd83;
  --body-color: #18191a;
  --nav-color: #242625;
  --side-nav: #242526;
  --text-color: #ccc;
  --search-bar: #242526;
  --body-text: #f4d5d5;
  --box-shadow: 4px 7px 15px 2px rgb(194, 252, 223);
  --shadow-hover: 9px 7px 13px 5px rgb(213, 254, 234);
}

body {
  scroll-behavior: smooth;
  height: 100vh;
  background-color: var(--body-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  flex-basis: 33.33%;
  box-sizing: border-box;
  height: 100px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
}